<!DOCTYPE html>
<html>
  <head>
    <title>YoutubeLive</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'youtube_live' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>


    <%= yield %>
  </body>
</html>
